
<div class="container mt-4">
   <h1>Cards</h1>
   <mat-divider></mat-divider>
    <div class="row">
        <!--Card Example 1 Basic Card -->
        <div class="col-4 mt-4">
            <mat-card>
                <mat-card-title>Card</mat-card-title>
                <mat-card-subtitle>My card</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-raised-button color="accent">Action</button>
                    <button mat-raised-button color="accent">Cencel</button>
                </mat-card-actions>
            </mat-card>
        </div>


        <!-- Card Example 2 (In this card pic is used) -->
        <div class="col-4 mt-4">
            <mat-card class="example-card">

                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Saqib Awan</mat-card-title>
                  <mat-card-subtitle>Islamic</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="assets/img/pic.jpg" alt="Photo of a khaba" width="400px">

                <mat-card-content>
                  <mat-card-title>Detail</mat-card-title>
                  <p> This is Pic of khaba shareef , this is the house of Allah,</p>
                </mat-card-content>

                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>




        <!-- Card Example 3  -->
        <div class="col-4 mt-4">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Saqib Awan</mat-card-title>
                    <mat-card-subtitle>Islamic</mat-card-subtitle>
                  </mat-card-header>
  
                  <img mat-card-image src="assets/img/pic.jpg" alt="Photo of a khaba" width="400px">
  
                  <mat-card-content>
                    <mat-card-subtitle>Islamic</mat-card-subtitle>
                    <mat-card-title>Detail</mat-card-title>
                    <div class="rating">
                        <mat-icon class="active">star</mat-icon>
                        <mat-icon class="active">star</mat-icon>
                        <mat-icon class="active">star</mat-icon>
                        <mat-icon class="active1">star</mat-icon>
                        <mat-icon class="active1">star</mat-icon>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="mt-4"> This is Pic of khaba shareef , this is the house of Allah, and i love khaba shareef , 
                        many peoples wants see khaba shareef</p>
                  </mat-card-content>
  
                  <mat-divider></mat-divider>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
            </mat-card>
        </div>


        <div class="col-4 mt-4">
            <mat-card> Basic card</mat-card>
        </div>

    </div>
</div>